

*{
    margin:0px;
    padding:0px;
}
h1{
    font:bold 30px Baskerville Old Face;
}

body{
    width:1000px;
    display:-webkit-box;
    -webkit-box-pack: center;
	border:2px solid black;
	position:absolute;
	
	
	
}




#body{
    display:-webkit-box;
    -webkit-box-orient:horizontal;
	
	
}
#main_section{
    border:1px solid black;
    -webkit-box-flex: 1;
	width:1000px;
	height:470px;
	background-color:#001;
	
}

#the_footer{
	height:40px;
    text-align:center;
    border-top: 2px solid black;

}
article{
    background-color:#48f;
    border: 1px solid black;
    padding:30px;
    margin-bottom:10px;
    color:black;
}
li:hover{
	background-color:white;
	color:black;
}
li a{
   display:block;
   color:red;
   text-align: center;
   padding:20px;
   text-decoration:none;
   }
   #algorithm{
	   background-color:white;
      color:black;
   }
  
	   







